@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media only screen {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  * html {
    font-size: 100%;
  }

  html {
    font-size: 16px;
    line-height: 1.75em;
  }

  html {
    background: #555555;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    font-family: Sanchez, Georgia, serif;
    *zoom: 1;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    /*@include susy-grid-background;*/
    background-color: #fefefe;
    margin: 0;
    padding-bottom: 5.25em;
    color: #555;
  }
  body:after {
    content: "";
    display: table;
    clear: both;
  }

  p, ul, ol, dl {
    margin-top: 1.75em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }

  /* Forms */
  form fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  form textarea {
    width: 100%;
  }
  form textarea,
  form input,
  form select {
    font-family: Sanchez, Georgia, serif;
    color: #3c3c3c;
    font-size: 0.75em;
    line-height: 2.33333em;
    line-height: 1.75em;
  }

  /* Navigation */
  nav ul,
  nav ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  nav#program-nav {
    border: 1px dotted #ccc;
    border-width: 1px 0;
    padding: 1.75em 0;
    margin: 1.75em 0;
  }
  nav#program-nav a {
    margin-right: 1em;
  }

  /* Links */
  a {
    text-decoration: none;
  }
  a:link {
    color: #00aadd;
  }
  a:visited {
    color: #0083aa;
  }
  a:hover {
    border-bottom: 1px dotted #0083aa;
    color: #0083aa;
  }
  a:active {
    border-bottom: 1px solid #0083aa;
    color: #0083aa;
  }

  /* Headings */
  h1 {
    font-size: 1.875em;
    line-height: 1.86667em;
    line-height: 1.53125em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.875em;
    line-height: 1.86667em;
    line-height: 3.5em;
    color: #f60;
  }

  h3 {
    font-weight: bold;
    color: rgba(60, 60, 60, 0.75);
    font-size: 1.25em;
    line-height: 1.4em;
  }

  h4 {
    font-weight: bold;
  }

  h5 {
    font-style: italic;
  }

  h6 {
    font-style: italic;
    color: rgba(60, 60, 60, 0.5);
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
  }

  /* Tables */
  table {
    width: 100%;
    font-size: 0.875em;
    line-height: 2em;
    margin-top: 3.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    border: 5px solid rgba(0, 0, 0, 0.25);
    border-width: 5px 0;
  }
  table th,
  table td {
    padding: 0.875em;
    vertical-align: top;
  }
  table thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  table tr + tr {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
  }
  table tbody th {
    width: 20%;
    font-weight: bold;
  }

  /* Images */
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  /* Classes */
  .intro {
    font-size: 1.5em;
    line-height: 1.16667em;
    line-height: 2.1875em;
    color: rgba(0, 0, 0, 0.5);
  }

  .program-category-intro {
    font-size: 0.875em;
    line-height: 2em;
    font-style: italic;
    color: rgba(60, 60, 60, 0.5);
  }

  /* Header */
  header[role="banner"] {
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    *zoom: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
    text-align: center;
    padding: 0.875em 13.04348%;
    background-image: -webkit-linear-gradient(0deg, #c8c8c8 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-image: -moz-linear-gradient(0deg, #c8c8c8 1px, transparent 1px), -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-image: -o-linear-gradient(0deg, #c8c8c8 1px, transparent 1px), -o-linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-image: linear-gradient(0deg, #c8c8c8 1px, transparent 1px), linear-gradient(0deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 72px 10px, 6px 6px;
    background-position: -1px 0, -1px 0;
    background-repeat: repeat-x;
  }
  header[role="banner"] h1 {
    margin-top: 10px;
  }
  header[role="banner"] nav {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.75em;
  }
  header[role="banner"] a {
    border: none !important;
  }
  header[role="banner"] a:link {
    color: rgba(255, 255, 255, 0.75);
  }
  header[role="banner"] a:visited {
    color: rgba(255, 255, 255, 0.75);
  }
  header[role="banner"] a:hover, header[role="banner"] a:active {
    color: rgba(255, 255, 255, 0.9);
  }
  header[role="banner"] a + a:before {
    content: " · ";
    color: rgba(255, 255, 255, 0.35);
  }

  /* Main Content */
  div[role="main"] {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
  }
  body.program div[role="main"] article {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
    margin-left: 0%;
  }
  body.program div[role="main"] article > header {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
    padding-top: 5.88235%;
    padding-bottom: 5.88235%;
    padding-left: 13.04348%;
    padding-right: 13.04348%;
    color: #fff;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px);
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px);
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px);
    background-size: 3px 3px, 3px 3px, auto auto;
    background-position: -1px -1px, -1px -1px, 0 0;
  }
  body.program div[role="main"] article section {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
    margin-left: 0%;
    padding-left: 13.04348%;
    padding-right: 13.04348%;
    padding-top: 4.34783%;
    padding-bottom: 4.34783%;
    margin: 0 0 21em;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  }
  div[role="main"] section {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
    margin-left: 13.04348%;
  }
  div[role="main"] section#introduction {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
    margin-left: 0%;
    padding: 1.75em 13.04348%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fcfcfc;
  }
  div[role="main"] section.category {
    width: 100%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
    margin-left: 0%;
    overflow: hidden;
    *zoom: 1;
    padding-top: 8.69565%;
  }
  div[role="main"] section.category h1, div[role="main"] section.category p {
    padding: 0 13.04348% 4.34783%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
  }
  div[role="main"] section.category table {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 4.34783% 0 0;
    padding: 4.34783% 13.04348%;
    border-width: 2px 0 10px;
  }
  div[role="main"] section.category#mission {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5))), url("../images/mission.jpg");
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/mission.jpg");
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/mission.jpg");
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/mission.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/mission.jpg");
    background-size: 3px 3px, 3px 3px, cover, cover;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0;
    background-attachment: scroll, scroll, scroll,fixed;
    background-repeat: repeat, repeat, repeat, no-repeat;
  }
  div[role="main"] section.category#support {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5))), url("../images/support.jpg");
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/support.jpg");
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/support.jpg");
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/support.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/support.jpg");
    background-size: 3px 3px, 3px 3px, cover, cover;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0;
    background-attachment: scroll, scroll, scroll,fixed;
    background-repeat: repeat, repeat, repeat, no-repeat;
  }
  div[role="main"] section.category#people {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5))), url("../images/people.jpg");
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/people.jpg");
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/people.jpg");
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/people.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/people.jpg");
    background-size: 3px 3px, 3px 3px, cover, cover;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0;
    background-attachment: scroll, scroll, scroll,fixed;
    background-repeat: repeat, repeat, repeat, no-repeat;
  }
  div[role="main"] section.category#structure {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5))), url("../images/structure.jpg");
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/structure.jpg");
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/structure.jpg");
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/structure.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/structure.jpg");
    background-size: 3px 3px, 3px 3px, cover, cover;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0;
    background-attachment: scroll, scroll, scroll,fixed;
    background-repeat: repeat, repeat, repeat, no-repeat;
  }
  div[role="main"] section.category#research {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5))), url("../images/research.jpg");
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/research.jpg");
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/research.jpg");
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/research.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/research.jpg");
    background-size: 3px 3px, 3px 3px, cover, cover;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0;
    background-attachment: scroll, scroll, scroll,fixed;
    background-repeat: repeat, repeat, repeat, no-repeat;
  }
  div[role="main"] section.category#directions {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5))), url("../images/directions.jpg");
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/directions.jpg");
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -moz-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/directions.jpg");
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), -o-linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/directions.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 1px), url("../images/directions.jpg");
    background-size: 3px 3px, 3px 3px, cover, cover;
    background-position: -1px -1px, -1px -1px, 0 0, 0 0;
    background-attachment: scroll, scroll, scroll,fixed;
    background-repeat: repeat, repeat, repeat, no-repeat;
  }

  body#uva-praxis-program {
    background-image: url("../images/uva-praxis-program.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  body#chi-initiative {
    background-image: url("../images/chi-initiative.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  body#hope-mellon-scholars {
    background-image: url("../images/hope-mellon-scholars.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  body#cuny-dhi {
    background-image: url("../images/cuny-dhi.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  body#ucldh {
    background-image: url("../images/ucldh.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

  /* Footer */
  footer[role="contentinfo"] {
    margin-top: 1.75em;
  }
  footer[role="contentinfo"]:before {
    margin-bottom: 1.75em;
  }
}
@media only screen and (min-width: 860px) {
  h2 {
    font-size: 3em;
    line-height: 1.16667em;
    line-height: 2.1875em;
  }

  header[role="banner"] {
    text-align: left;
  }
  header[role="banner"] h1 {
    font-size: 1em;
    line-height: 1.75em;
    width: 34.78261%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
  }
  header[role="banner"] nav {
    width: 60.86957%;
    float: right;
    margin-right: 0;
    #margin-left: -50px;
    display: inline;
    text-align: right;
  }

  .program section {
    overflow: hidden;
    *zoom: 1;
  }
  .program section header {
    width: 34.78261%;
    float: left;
    margin-right: 4.34783%;
    display: inline;
  }
  .program section p:not(.program-category-intro) {
    width: 60.86957%;
    float: right;
    margin-right: 0;
    #margin-left: -50px;
    display: inline;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
