<p>Some programs are pilots with future plans that hinge on flexibility and short-term impact. Others are already structured for longevity within their institutions. Discover how long-term goals are built into program structures below.</p>

<div class="table">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#directions" title="UVa Praxis Program: Directions">UVa Praxis Program</a></th>
            <td>{{ site.praxis-program.directions }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#directions" title="CHI Initiative: Directions">CHI Initiative</a></th>
            <td>{{ site.chi-initiative.directions }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#directions" title="Hope Mellon Scholars: Directions">Hope Mellon Scholars</a></th>
            <td>{{ site.hope-mellon-scholars.directions }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#directions" title="CUNY GCDI: Directions">CUNY GCDI</a></th>
            <td>{{ site.cuny-gcdi.directions }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#directions" title="UCLDH: Directions">UCLDH MA/MSc</a></th>
            <td>{{ site.ucldh.directions }}</td>
        </tr>
    </tbody>
</table>
</div>

