<p>Some of these programs are pilots with future plans that hinge on flexibility and short-term impact. Others have been structured for longevity within their institutions since day one. Discover below how long-term goals affect program structures (and vice versa).</p>

<div class="table">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#directions" title="UVa Praxis Program: Directions">Praxis Program (UVa)</a></th>
            <td>{{ site.praxis-program.directions }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#directions" title="CHI Initiative: Directions">CHI Initiative (MSU)</a></th>
            <td>{{ site.chi-initiative.directions }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#directions" title="Hope Mellon Scholars: Directions">Mellon Scholars (Hope)</a></th>
            <td>{{ site.hope-mellon-scholars.directions }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#directions" title="CUNY GCDI: Directions">Digital Fellows (CUNY)</a></th>
            <td>{{ site.cuny-gcdi.directions }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#directions" title="UCLDH: Directions">MA/MSc in DH (UCL)</a></th>
            <td>{{ site.ucldh.directions }}</td>
        </tr>
    </tbody>
</table>
</div>

