<p>Implementation introduction....</p>

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#implementation" title="UVa Praxis Program: implementation">UVa Praxis Program</a></th>
            <td>{{ site.praxis-program.implementation }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#implementation" title="CHI Initiative: implementation">CHI Initiative</a></th>
            <td>{{ site.chi-initiative.implementation }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#implementation" title="Hope Mellon Scholars: implementation">Hope Mellon Scholars</a></th>
            <td>{{ site.hope-mellon-scholars.implementation }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#implementation" title="CUNY GCDI: implementation">CUNY GCDI</a></th>
            <td>{{ site.cuny-gcdi.implementation }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#implementation" title="UCLDH: implementation">UCLDH MA/MSc</a></th>
            <td>{{ site.ucldh.implementation }}</td>
        </tr>
    </tbody>
</table>

