<p>Each program's mission varies depending on factors that include disciplinary alignment, institutional context, philosophy of teaching, and leadership. All emphasize the importance of preparing students to become outstanding scholars, while simultaneously equipping them to excel in humanities roles outside the professoriate.</p>

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#mission" title="UVa Praxis Program: Mission">UVa Praxis Program</a></th>
            <td>{{ site.praxis-program.mission }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#mission" title="CHI Initiative: Mission">CHI Initiative</a></th>
            <td>{{ site.chi-initiative.mission }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#mission" title="Hope Mellon Scholars: Mission">Hope Mellon Scholars</a></th>
            <td>{{ site.hope-mellon-scholars.mission }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#mission" title="CUNY GCDI: Mission">CUNY GCDI</a></th>
            <td>{{ site.cuny-gcdi.mission }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#mission" title="UCLDH: Mission">UCLDH MA/MSc</a></th>
            <td>{{ site.ucldh.mission }}</td>
        </tr>
    </tbody>
</table>
