<header>
<h1>Mission</h1>
<p>Each program's mission varies depending on factors that include disciplinary alignment, institutional context, philosophy of teaching, and leadership. All emphasize the importance of preparing students to become outstanding scholars, while simultaneously equipping them to excel in humanities roles outside the professoriate.</p>
</header>
<div class="content">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="/praxis-program.html#mission" title="UVa Praxis Program: Mission">Praxis Program (UVa)</a></th>
            <td>{{ site.praxis-program.mission }}</td>
        </tr>
        <tr>
            <th><a href="/chi-initiative.html#mission" title="CHI Initiative: Mission">CHI Initiative (MSU)</a></th>
            <td>{{ site.chi-initiative.mission }}</td>
        </tr>
        <tr>
            <th><a href="/hope-mellon-scholars.html#mission" title="Hope Mellon Scholars: Mission">Mellon Scholars (Hope)</a></th>
            <td>{{ site.hope-mellon-scholars.mission }}</td>
        </tr>
        <tr>
            <th><a href="/cuny-gcdi.html#mission" title="CUNY GCDI: Mission">Digital Fellows (Graduate Center, CUNY)</a></th>
            <td>{{ site.cuny-gcdi.mission }}</td>
        </tr>
        <tr>
            <th><a href="/ucldh.html#mission" title="UCLDH: Mission">MA/MSc in DH (UCL)</a></th>
            <td>{{ site.ucldh.mission }}</td>
        </tr>
        <tr>
            <th><a href="/duke-phd-lab.html#mission" title="Duke PhD Lab: Mission">PhD Lab (Duke)</a></th>
            <td>{{ site.duke-phd-lab.mission }}</td>
        </tr>
        <tr>
            <th><a href="/brock-iasc.html#mission" title="Brock IASC: Mission">IASC (Brock)</a></th>
            <td>{{ site.brock-iasc.mission }}</td>
        </tr>
        <tr>
            <th><a href="/ucdh.html#mission" title="UCDH: Mission">UC Digital Humanities (Canterbury)</a></th>
            <td>{{ site.ucdh.mission }}</td>
        </tr>
    </tbody>
</table>
</div>
