<p>Each program's mission varies depending on factors that include disciplinary alignment, institutional context, philosophy of teaching, and leadership. All emphasize the importance of preparing students to become outstanding scholars, while simultaneously equipping them to excel in humanities roles outside the professoriate.</p>

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html">UVa Praxis Program</a></th>
            <td>{{ site.praxis-program.mission }}</td>
        </tr>
        <tr>
            <th>CHI Initiative</th>
            <td>{{ site.chi-initiative.mission }}</td>
        </tr>
        <tr>
            <th>Hope Mellon Scholars</th>
            <td>{{ site.hope-mellon-scholars.mission }}</td>
        </tr>
        <tr>
            <th>CUNY GCDI</th>
            <td>{{ site.cuny-gcdi.mission }}</td>
        </tr>
        <tr>
            <th>UCLDH MA/MSc</th>
            <td>{{ site.ucldh.mission }}</td>
        </tr>
    </tbody>
</table>
