<header>
<h1>Nuts &amp; Bolts</h1>
<p>Interested in developing an innovative graduate training program of your own? Here are a few things to keep in mind about each of the programs featured in the Praxis Network.</p>
</header>
<div class="content">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#nuts-and-bolts" title="UVa Praxis Program: Nuts & Bolts">Praxis Program (UVa)</a></th>
            <td>{{ site.praxis-program.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#nuts-and-bolts" title="CHI Initiative: Nuts & Bolts">CHI Initiative (MSU)</a></th>
            <td>{{ site.chi-initiative.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#nuts-and-bolts" title="Hope Mellon Scholars: Nuts & Bolts">Mellon Scholars (Hope)</a></th>
            <td>{{ site.hope-mellon-scholars.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#nuts-and-bolts" title="CUNY GCDI: Nuts & Bolts">Digital Fellows (Graduate Center, CUNY)</a></th>
            <td>{{ site.cuny-gcdi.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#nuts-and-bolts" title="UCLDH: Nuts & Bolts">MA/MSc in DH (UCL)</a></th>
            <td>{{ site.ucldh.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="duke-phd-lab.html#nuts-and-bolts" title="Duke PhD Lab: Nuts & Bolts">PhD Lab (Duke)</a></th>
            <td>{{ site.duke-phd-lab.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="brock-iasc.html#nuts-and-bolts" title="Brock IASC: Nuts & Bolts">IASC (Brock)</a></th>
            <td>{{ site.brock-iasc.nuts-and-bolts }}</td>
        </tr>
        <tr>
            <th><a href="ucdh.html#nuts-and-bolts" title="UCDH: Nuts and Bolts">UC Digital Humanities (Canterbury)</a></th>
            <td>{{ site.ucdh.nuts-and-bolts }}</td>
        </tr>
    </tbody>
</table>
</div>

