<p>In every case, these programs are exceptional because of creative, thoughtful, and dedicated faculty, students, and staff. From the directors that guide them to the students that are their lifeblood, each program takes on distinct characteristics depending on the people involved.</p>

<div class="table">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#people" title="UVa Praxis Program: People">UVa Praxis Program</a></th>
            <td>{{ site.praxis-program.people }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#people" title="CHI Initiative: People">CHI Initiative</a></th>
            <td>{{ site.chi-initiative.people }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#people" title="Hope Mellon Scholars: People">Hope Mellon Scholars</a></th>
            <td>{{ site.hope-mellon-scholars.people }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#people" title="CUNY GCDI: People">CUNY GCDI</a></th>
            <td>{{ site.cuny-gcdi.people }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#people" title="UCLDH: People">UCLDH MA/MSc</a></th>
            <td>{{ site.ucldh.people }}</td>
        </tr>
    </tbody>
</table>
</div>
