<p>In every case, these programs are exceptional because of creative, thoughtful, and dedicated faculty, students, and staff. From the directors that guide them to the students that are their lifeblood, each program takes on distinct characteristics depending on the people involved.</p>

<div class="table">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#people" title="UVa Praxis Program: People">Praxis Program (UVa)</a></th>
            <td>{{ site.praxis-program.people }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#people" title="CHI Initiative: People">CHI Initiative (MSU)</a></th>
            <td>{{ site.chi-initiative.people }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#people" title="Hope Mellon Scholars: People">Mellon Scholars (Hope)</a></th>
            <td>{{ site.hope-mellon-scholars.people }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#people" title="CUNY GCDI: People">Digital Fellows (Graduate Center, CUNY)</a></th>
            <td>{{ site.cuny-gcdi.people }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#people" title="UCLDH: People">MA/MSc in DH (UCL)</a></th>
            <td>{{ site.ucldh.people }}</td>
        </tr>
        <tr>
            <th><a href="duke-phd-lab.html#people" title="Duke PhD Lab: People">PhD Lab (Duke)</a></th>
            <td>{{ site.duke-phd-lab.people }}</td>
        </tr>
        <tr>
            <th><a href="brock-iasc.html#people" title="Brock IASC: People">IASC (Brock)</a></th>
            <td>{{ site.brock-iasc.people }}</td>
        </tr>
    </tbody>
</table>
</div>
