<nav role="navigation" id="program-nav">
    <a href="praxis-program.html" class="praxis-program">Praxis Program (UVa)</a>
    <a href="chi-initiative.html" class="chi-initiative">CHI Initiative (MSU)</a>
    <a href="hope-mellon-scholars.html" class="hope-mellon-scholars">Mellon Scholars (Hope College)</a>
    <a href="cuny-gcdi.html" class="cuny-gcdi">Digital Fellows (CUNY Graduate Center)</a>
    <a href="ucldh.html" class="ucldh">MA/MSc in DH (UCL)</a>
    <a href="duke-phd-lab.html" class="duke-phd-lab">PhD Lab (Duke)</a>
    <a href="brock-iasc.html" class="brock-iasc">IASC (Brock)</a>
</nav>
