<nav role="navigation" id="program-nav">
    <a href="praxis-program.html" class="praxis-program">Praxis Program (Virginia)</a>
    <a href="chi-initiative.html" class="chi-initiative">CHI Initiative (Michigan State)</a>
    <a href="hope-mellon-scholars.html" class="hope-mellon-scholars">Mellon Scholars (Hope College)</a>
    <a href="cuny-gcdi.html" class="cuny-gcdi">Digital Fellows (CUNY Graduate Center)</a>
    <a href="ucldh.html" class="ucldh">MA/MSc in Digital Humanities (University College London)</a>
    <a href="duke-phd-lab.html" class="duke-phd-lab">PhD Lab in Digital Knowledge (Duke)</a>
    <a href="brock-iasc.html" class="brock-iasc">Interactive Arts and Science Program (Brock)</a>
</nav>
