<header>
<h1>Research</h1>
<p>These programs are about much more than methods and skills: they also contribute new knowledge to the field and equip emerging scholars and humanities practitioners to develop their own agendas for productive research. A few of the most exciting projects and research outcomes are highlighted below.</p>
</header>
<div class="content">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <th><a href="/praxis-program.html#research" title="UVa Praxis Program: Research">Praxis Program (UVa)</a></th>
  <td>{{ site.praxis-program.research }}</td>
  </tr>
  <tr>
            <th><a href="/chi-initiative.html#research" title="CHI Initiative: Research">CHI Initiative (MSU)</a></th>
  <td>{{ site.chi-initiative.research }}</td>
  </tr>
  <tr>
    <th><a href="/hope-mellon-scholars.html#research" title="Hope Mellon Scholars: Research">Mellon Scholars (Hope)</a></th>
    <td>{{ site.hope-mellon-scholars.research }}</td>
</tr>
<tr>
  <th><a href="/cuny-gcdi.html#research" title="CUNY GCDI: Research">Digital Fellows (Graduate Center, CUNY)</a></th>
  <td>{{ site.cuny-gcdi.research }}</td>
  </tr>
  <tr>
    <th><a href="/ucldh.html#research" title="UCLDH: Research">MA/MSc in DH (UCL)</a></th>
    <td>{{ site.ucldh.research }}</td>
</tr>
  <tr>
    <th><a href="/duke-phd-lab.html#research" title="Duke PhD Lab: Research">PhD Lab (Duke)</a></th>
    <td>{{ site.duke-phd-lab.research }}</td>
</tr>
  <tr>
    <th><a href="/brock-iasc.html#research" title="Brock IASC: Research">IASC (Brock)</a></th>
    <td>{{ site.brock-iasc.research }}</td>
</tr>
<tr>
    <th><a href="/ucdh.html#research" title="UCDH: Research">UC Digital Humanities (Canterbury)</a></th>
    <td>{{ site.ucdh.research }}</td>
</tr>
</tbody>
</table>
</div>

