<p>These programs are about much more than methods and skills: they also contribute new knowledge to the field and equip emerging scholars and humanities practitioners to develop their own agendas for productive research. A few of the most exciting projects and research outcomes are highlighted below.</p>

<div class="table">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <th><a href="praxis-program.html#research" title="UVa Praxis Program: Research">UVa Praxis Program</a></th>
  <td>{{ site.praxis-program.research }}</td>
  </tr>
  <tr>
            <th><a href="chi-initiative.html#research" title="CHI Initiative: Research">CHI Initiative</a></th>
  <td>{{ site.chi-initiative.research }}</td>
  </tr>
  <tr>
    <th><a href="hope-mellon-scholars.html#research" title="Hope Mellon Scholars: Research">Hope Mellon Scholars</a></th>
    <td>{{ site.hope-mellon-scholars.research }}</td>
</tr>
<tr>
  <th><a href="cuny-gcdi.html#research" title="CUNY GCDI: Research">CUNY GCDI</a></th>
  <td>{{ site.cuny-gcdi.research }}</td>
  </tr>
  <tr>
    <th><a href="ucldh.html#research" title="UCLDH: Research">UCLDH MA/MSc</a></th>
    <td>{{ site.ucldh.research }}</td>
</tr>
</tbody>
</table>
</div>

