<p>These programs are about much more than methods and skills: they also contribute new knowledge to the field and equip emerging scholars and humanities practitioners to develop their own agendas for productive research. A few of the most exciting projects and research outcomes are highlighted below.</p>

<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <th><a href="praxis-program.html">UVa Praxis Program</a></th>
  <td>{{ site.praxis-program.research }}</td>
  </tr>
  <tr>
  <th>CHI Initiative</th>
  <td>{{ site.chi-initiative.research }}</td>
  </tr>
  <tr>
    <th>Hope Mellon Scholars</th>
    <td>{{ site.hope-mellon-scholars.research }}</td>
</tr>
<tr>
  <th>CUNY GCDI</th>
  <td>{{ site.cuny-dhi.research }}</td>
  </tr>
  <tr>
    <th>UCLDH MA/MSc</th>
    <td>{{ site.ucldh.research }}</td>
</tr>
</tbody>
</table>

