<header>
<h1>Structure</h1>
<p>What do these programs look like from day to day? Explore Praxis Network teaching styles, curricula, selection criteria, and more.</p>
</header>
<div class="content">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="/praxis-program.html#structure" title="UVa Praxis Program: Structure">Praxis Program (UVa)</a></th>
            <td>{{ site.praxis-program.structure }}</td>
        </tr>
        <tr>
            <th><a href="/chi-initiative.html#structure" title="CHI Initiative: Structure">CHI Initiative (MSU)</a></th>
            <td>{{ site.chi-initiative.structure }}</td>
        </tr>
        <tr>
            <th><a href="/hope-mellon-scholars.html#structure" title="Hope Mellon Scholars: Structure">Mellon Scholars (Hope)</a></th>
            <td>{{ site.hope-mellon-scholars.structure }}</td>
        </tr>
        <tr>
            <th><a href="/cuny-gcdi.html#structure" title="CUNY GCDI: Structure">Digital Fellows (Graduate Center, CUNY)</a></th>
            <td>{{ site.cuny-gcdi.structure }}</td>
        </tr>
        <tr>
            <th><a href="/ucldh.html#structure" title="UCLDH: Structure">MA/MSc in DH (UCL)</a></th>
            <td>{{ site.ucldh.structure }}</td>
        </tr>
        <tr>
            <th><a href="/duke-phd-lab.html#structure" title="Duke PhD Lab: Structure">PhD Lab (Duke)</a></th>
            <td>{{ site.duke-phd-lab.structure }}</td>
        </tr>
        <tr>
            <th><a href="/brock-iasc.html#structure" title="Brock IASC: Structure">IASC (Brock)</a></th>
            <td>{{ site.brock-iasc.structure }}</td>
        </tr>
        <tr>
            <th><a href="/ucdh.html#structure" title="UCDH: Structure">UC Digital Humanities (Canterbury)</a></th>
            <td>{{ site.ucdh.structure }}</td>
        </tr>
    </tbody>
</table>
</div>
