<p>What do these programs look like from day to day? Explore Praxis Network teaching styles, curricula, selection criteria, and more.</p>

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html">UVa Praxis Program</a></th>
            <td>{{ site.praxis-program.structure }} <a href="praxis-program.html#structure">More</a></td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html">CHI Initiative</a></th>
            <td>{{ site.chi-initiative.structure }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html">Hope Mellon Scholars</a></th>
            <td>{{ site.hope-mellon-scholars.structure }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html">CUNY GCDI</a></th>
            <td>{{ site.cuny-gcdi.structure }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html">UCLDH MA/MSc</a></th>
            <td>{{ site.ucldh.structure }}</td>
        </tr>
    </tbody>
</table>

