<p>Funding and support are crucial considerations for any emerging program. Each program featured here works within a unique model of support – some relying on grant money, others functioning as a fixed budget line within a department, and others that bring together pockets of funding from various sources.</p>

<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th>Praxis Program</th>
            <td>{{ site.praxis-program.support }}</td>
        </tr>
        <tr>
            <th>CHI Initiative</th>
            <td>{{ site.chi-initiative.support }}</td>
        </tr>
        <tr>
            <th>HOPE Mellon Scholars</th>
            <td>{{ site.hope-mellon-scholars.support }}</td>
        </tr>
        <tr>
            <th>CUNY DHI</th>
            <td>{{ site.cuny-dhi.support }}</td>
        </tr>
        <tr>
            <th>UCLDH</th>
            <td>{{ site.ucldh.support }}</td>
        </tr>
    </tbody>
</table>

