<p>Funding and support are crucial considerations for any emerging program. Praxis Network programs are able to do what they do thanks to a variety of different funding models—some rely on grants, others function on a fixed budget line within a department, and still others bring together pockets of funding from various sources.</p>

<div class="table">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th><a href="praxis-program.html#support" title="UVa Praxis Program: Support">Praxis Program (UVa)</a></th>
            <td>{{ site.praxis-program.support }}</td>
        </tr>
        <tr>
            <th><a href="chi-initiative.html#support" title="CHI Initiative: Support">CHI Initiative (MSU)</a></th>
            <td>{{ site.chi-initiative.support }}</td>
        </tr>
        <tr>
            <th><a href="hope-mellon-scholars.html#support" title="Hope Mellon Scholars: Support">Mellon Scholars (Hope)</a></th>
            <td>{{ site.hope-mellon-scholars.support }}</td>
        </tr>
        <tr>
            <th><a href="cuny-gcdi.html#support" title="CUNY GCDI: Support">Digital Fellows (Graduate Center, CUNY)</a></th>
            <td>{{ site.cuny-gcdi.support }}</td>
        </tr>
        <tr>
            <th><a href="ucldh.html#support" title="UCLDH: Support">MA/MSc in DH (UCL)</a></th>
            <td>{{ site.ucldh.support }}</td>
        </tr>
    </tbody>
</table>
</div>
