// Program short names.
$programs: (uva-praxis-program, chi-initiative, hope-mellon-scholars, cuny-gcdi, ucldh, duke-phd-lab, brock-iasc, ucdh);

$categories: (mission, structure, research, people, support, directions, nuts-and-bolts);

// Compass Variables
$base-font-size: 18px;
$base-line-height: 30px;

// Susy Variables
$susy: (
  columns: 32,
  debug: (
    image: show,
    color: rgba(blue, 0.5),
    output: overlay,
    toggle: top right,
  ),
);

// Colors
$dark-grey: rgba(0,0,0,0.7);
$light-grey: rgba(0,0,0,0.5);
$lightest-grey: rgba(0,0,0,0.2);

$default-color: rgb(60,60,60);
$default-color-light: rgba($default-color, 0.75);
$default-color-lighter: rgba($default-color, 0.5);
$default-color-lightest: rgba($default-color, 0.25);

$accent-color: hsla(200, 80, 50, 1);

$link-color: adjust-hue($accent-color, 180);
$link-color-light: lighten($link-color, 10%);
$link-color-alternate: lighten($link-color, 10%);
$link-color-alternate-light: darken($link-color-alternate, 10%);

$border-shadow: rgba(0, 0, 0, .15);
$border-highlight: rgba(255, 255, 255, .09);

// Fonts
$serif: Sanchez, Georgia, serif;
$sans-serif: "Open Sans", Verdana, sans-serif;
$font-family-default: $serif;
$font-family-alternate: $serif;
