
.program {
  section {
    @include clearfix;
    header {
      @include span-columns(3,8);
    }

    .content {
        @include push(3);
    }

    figure {
      float:right;
      margin-left: rhythm(1);

      &.normal,
      &.feature {
        float:none;
        margin-left:0;
      }

      &.feature {
      @include pull(5);

        figcaption {
          @include span-columns(2,8);
        }
      }
    }
  }
}

section {
  h2 {
    @include adjust-font-size-to(48px);
    @include adjust-leading-to(1.25);
  }

  &#introduction {
    @include clearfix;
    .content {
      @include span-columns(5,8);
    }
    #program-nav {
      @include span-columns(3 omega, 8);
      @include leader(1);
      a {
        display:block;
        &:before {
          content:"" !important;
        }
      }

      strong {
        display:none;
      }
    }
  }
}

