@include border-box-sizing;
@include establish-baseline;

html {
    @include background(#fff);
    @include background-size(cover);
}

body {
    font-family: $font-family-default;
    @include container(show);
    /*@include susy-grid-background;*/
    background-color: white;
    color: #555;
    @include susy-breakpoint(800px, 32) {
        @include pad(2,2);
    }

    &.home {
        padding:0;
    }
}

p,ul,ol,dl {
    @include rhythm(1);
}

ul {
    list-style:square;
}

ol {
    list-style:decimal;
}

ul,ol {
    margin-left: rhythm(1);

    nav & {
        margin:0;
    }
}

em, i {
    font-style:italic;
}

strong, b {
    font-weight:bold;
}

/* Forms */
form {

    fieldset {
        margin:0;
        padding:0;
        border:none;
    }

    textarea {
        width:100%;
    }

    textarea,
    input,
    select {
        font-family: $font-family-alternate;
        color: $default-color;
    }

}

/* Navigation */
nav {
    ul,
    ol {
        list-style:none;
        margin-left:0;
        padding-left:0;
    }
}

/* Links */
a {

    @include transition(background 0.3s linear, color 0.3s linear);

    &:link {
        color: $link-color;
    }

    &:visited {
        color: $link-color-alternate;
    }

    &:hover {
        color:$link-color-alternate;
    }

    &:active {
        color:$link-color-alternate;
    }
}

.add-institution {
   @include adjust-font-size-to(14px);
   @include leader(1, 14px);

    a {
      background: $link-color-alternate;
      display:block;
      float:right;
      margin: 0 5px 5px 0;
      color: #fff;
      padding: 4px 8px;

      &:link,
      &:visited {
        background-color: $link-color-alternate;
        color: #fff;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: $link-color;
        color: #fff;
      }
    }
 }

/* Headings */
h1 {
  @include adjust-font-size-to(36px);
  @include adjust-leading-to(1.25, 36px);
  font-weight:normal;
}

h2 {
  @include adjust-font-size-to(32px);
  @include adjust-leading-to(1, 32px);
  @include leader(1, 32px);
  @include trailer(1, 32px);
  color: #f60;

  & + * {
    margin-top:0;
  }
}

h3 {
  font-weight:bold;
  color: $default-color-light;
  @include adjust-font-size-to(20px);
  @include adjust-leading-to(1, 20px);
}

h4 {
  font-weight:bold;
}

h5 {
  font-style:italic;
}

h6 {
  font-style:italic;
  color: $default-color-lighter;
}

#{headings(1,6)} {

  a {
    text-decoration:none;
  }

}

figure {
  @include rhythm(1);
}

figcaption {
  @include adjust-font-size-to(15px);
  @include adjust-leading-to(1, 15px);
  color: $default-color-lighter;
  & > * {
    margin-top:0;
  }
}

/* Tables */
table {
  width:100%;
  border: 5px solid rgba(0,0,0,0.25);
  border-width: 5px 0;

  th,
  td {
    padding: rhythm(0.25);
    vertical-align:top;
  }

  thead {
    border-bottom: 2px solid rgba(0,0,0,0.1);
  }

  tr + tr {
    border-top: 1px dotted rgba(0,0,0,0.1);
  }

  tbody {
    th {
      width: 20%;
      font-weight:bold;
    }
  }

}

/* Images */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Header */
header[role="banner"] {
  @include clearfix;
  background-color: #222;
  background-color: rgba(#222, .95);
  margin: 0 0 1px;
  padding: rhythm(.5) 0;

  a, :link, :visited {
      color:white;
      text-decoration:none;
  }


  h1,ul {
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1, 16px);
  }

  nav {
      @include clearfix;
      h1, ul, li {
          display:inline-block;
          margin:0;
      }

      h1 {
          @include span(4 of 12);
      }

      ul {
          @include span(last 8 of 12);
          text-align:right;

          li:first-child:after {
              content: " / ";
              color: #999;
              color: rgba(white, .5);
              margin: 0 .5em;
          }
      }

      a {
          @include adjust-leading-to(1,18px);
      }

  }

  @include pad(1,1);

}

  #program-nav {
      display:block;
    @include adjust-font-size-to(20px);
    @include adjust-leading-to(1, 20px);
    @include clearfix;
    border: 1px solid white;
    border-width: 0 1px 0 0;
    a, :link {
        border: 1px solid white;
        border-width: 1px 0 0 1px;
        display: inline-block; /* non-flexbox browsers */
        @include display-flex(inline-flex);
        @include align-items(top);
        @include justify-content(flex-end);
        height: 150px;
        @include gallery(6 of 12 isolate);
        @include susy-breakpoint(600px, 12) {
            @include gallery(3 of 12 isolate);
            height: 120px;
        }
        @include susy-breakpoint(800px, 12) {
            height: 150px;
        }
        @include susy-breakpoint(1200px, 12) {
            height: 200px;
        }
        @include susy-breakpoint(1400px, 8) {
            height: 150px;
            @include gallery(1 of 8 isolate);
        }

        color: white;
        padding-top: rhythm(1);
    }
  }

/* Main Content */

div[role="main"] {

  article {

    body.program & {

      > header {
        color: #fff;
        display:block;
        background:rgba(black,.75);
        margin-bottom: rhythm(4);

        a {
            &:link, &:visited {
                color: #ddd;
            }

            &:hover, &:focus, &:active {
                color: #fff;
            }
        }

      }

        header, section .content {
            padding-top: rhythm(1);
            padding-bottom: rhythm(1);

            @include pad(1 of 30);

            @include susy-breakpoint(800px, 32) {
                @include pad(2 of 28);
            }
            @include susy-breakpoint(1200px, 32) {
                @include pad(4 of 24);
            }
        }

      section {
        z-index:1000;
        margin-bottom: rhythm(4);
        header {
            background-color: #fff;
            background-color: rgba(255,255,255,0.95);

            p {
                margin-bottom:0;
            }


        }
        .content {
            @include clearfix;
            background-color: #fff;
            background-color: rgba(255,255,255,0.95);
            > :first-child {
                margin-top:0;
            }

        }

        figure {
            margin-top:0;

            @include susy-breakpoint(600px, 32) {
                @include span(last 4 of 12);
                margin-left: span(1 of 32 wide);
            }

            &.feature,
            &.normal {

                float:none;
                width: auto;
                margin:0;
            }

            @include susy-breakpoint(600px, 32) {
            &.normal {
                .image {
                    @include gallery(6 of 12);
                }
                figcaption {
                    clear:both;
                }

            }
            }
        }

        h2 {
          margin-top:0;
        }

        > :last-child {
            margin-bottom:0;
        }

      }
    }
  }

  #category-nav {
    background-color: $link-color-alternate;
    a {
      background-color: rgba(0,0,0,0.1);
      color: #fff;
      color: rgba(255,255,255,0.8);
      border:none;
      display:block;
      float:left;

      &:link,
      &:visited {
        background-color: rgba(0,0,0,0.1);
      }

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: rgba(0,0,0,0.2);
      }
    }
  }


    section {

        &.category {
            padding-top: rhythm(6);

        h1,p {
            margin:0;
        }
        h1 {
            padding-top: rhythm(4, 40px);
            padding-bottom: rhythm(1, 40px);
        }
        p {
            padding-bottom: rhythm(4);
        }

        table {
            display:block;
            margin:0;
            border-width: 0;
        }

        .table {
            background-color: #fff;
            background-color: rgba(255,255,255,0.9);
            border:1px solid rgba(0,0,0,0.2);
            border-width: 10px 0;
            padding-top: rhythm(2);
            padding-bottom: rhythm(2);
        }

        h1,p,.table {
            @include pad(1);
            @include susy-breakpoint(800px, 32) {
                @include pad(2);
            }
            @include susy-breakpoint(1200px, 32) {
                @include pad(4,4);
            }

        }
        @each $category in mission, support, people, structure, research, directions, nuts-and-bolts {
        &##{$category} {
            @include background(
                linear-gradient(top, rgba($accent-color, .75), rgba($accent-color, .75)),
                url('../images/#{$category}-grayscale.jpg') 0 0 no-repeat fixed
            );
            @include background-size(cover);
        }
        }
        }
    }
}

#introduction {
    @include clearfix;
    @include pad(1);
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);

    @include susy-breakpoint(800px, 32) {

        @include pad(2);
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);

        h1 {
            @include adjust-font-size-to(30px);
            @include span(6 of 16);
            margin-top: rhythm(1, 30px);
            @include adjust-leading-to(1.25,30px);
            color: #f60;
        }

        .content {
            @include span(last 9 of 16);
        }

    }

    @include susy-breakpoint(1200px, 32) {
        @include pad(4,4);
        padding-top: rhythm(3);
        padding-bottom: rhythm(3);
    }

}
@each $program in $programs {
  body.#{$program} {
    background-image: url('../images/#{$program}.jpg');
    @include background-size(cover);
    background-attachment: fixed;
  }

  a.#{$program} {

      &:link,
      &:visited {
          text-decoration:none;
      @include background(
        linear-gradient(top, rgba($accent-color,.75), rgba($accent-color, .75)),
        url('../images/#{$program}-small-grayscale.jpg')
        );

      @include background-size(cover);
        }
      &:hover,
      &:focus,
      &:active {
      @include background(
        linear-gradient(top, rgba(black,.5), rgba(black, .5)),
        url('../images/#{$program}-small.jpg')
        );
      @include background-size(cover);

      }

  }
}

#image-credits {
  figure {
    height: 250px;
    text-align:center;
    @include gallery(6 of 12 isolate);
    @include susy-breakpoint(600px, 12) {
        @include gallery(4 of 12 isolate);
    }

    @include susy-breakpoint(800px, 12) {
        @include gallery(3 of 12 isolate);
    }

    img {
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: rhythm(0.5);
    }
  }
}

/* Footer */
footer[role="contentinfo"] {
  clear:both;
  background-color: #333;
  background-color: rgba(black,.75);
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);

    @include pad(1,1);
    @include susy-breakpoint(800px, 32) {
        @include pad(2,2);
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
    }

    @include susy-breakpoint(1200px, 32) {
        @include pad(4,4);
    }


  h2 {
    margin-top:0;
  }

  > :last-child {
      margin-bottom:0;
  }

}

#back-to-top {
    @include adjust-font-size-to(14px);
    position:fixed;
    bottom:0;
    right: 20px;
    z-index: 10000;
    display:none;
    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
    border:2px solid white;
    background-color: #fafafa;
    padding: 6px 10px;
    cursor: pointer;
    color:  darken(#0cf,20%);
    &:hover {
      color: #333;
    }
}



/* Directory styles */

.student-info {
  float:left;
  width: 70%;
}

.student-contact {
  float:right;
  width: 30%;
}

.page-content {
  min-height: 60%;
}

.institution-info {
  float:left;
  width: 70%;
}

.institution-contact {
  float:right;
  width: 30%;
}

.institution-content{
  min-height: 60%;
}

#list {
    float:right;
    width: 60%;

    a,
    a:link {
        color:white;
    }

    > div {
        width: 125px;
        height: 125px;
        margin: 5px;
        border: 1px solid black;
        text-align: center;
        padding: 5px;
    }
}

#filters {
    list-style:none;
 /*  font-size: 16px; */
    padding-right: 10px;

    ul {
        margin-top:0;
    }
}

.is-checked {
  font-weight: bold;
}

/* colors for different types of institutions */

.graduate {
    background-color: #9CAC7E;
}

.undergraduate {
    background-color: #F7913F;
}

.other {
    background-color: #50687F;
}

/* colors for different programs */

.praxis {
    background-color: #50687F;
}

.cultural {
    background-color: #9CAC7E;
}

.mellon {
    background-color: #9B6873;
}

.fellows {
    background-color: #D59CB5;
}

.ma-msc {
    background-color: #F7913F;
}

.phd {
    background-color: #76AC9C;
}

.interactive {
    background-color: #4893B2;
}

.honors-level {
    background-color: #7D7B7E;
}

