h2 {
  @include adjust-font-size-to(48px);
  @include adjust-leading-to(1.25);
}
.program {
  section {
    @include clearfix;
    header {
      @include span-columns(3,8);
    }

    p:not(.program-category-intro),
    figure {
        @include push(3);
    }

    figure {
      figcaption p {
        margin-left:0 !important;
      }
      
      &.feature {
        margin-left:0 !important;

        figcaption {
          @include span-columns(2,8);
        }
      }

    }
  }
}

section {

  &#introduction {
    @include clearfix;
    .content {
      @include span-columns(5,8);
    }
    #program-nav {
      @include span-columns(3 omega, 8);
      @include leader(1);
      a {
        display:block;
        &:before {
          content:"" !important;
        }
      }

      strong {
        display:none;
      }
    }
  }
}

