@include border-box-sizing;
@include establish-baseline;

html {
    background-color: $accent-color;
    @include background-image(
        linear-gradient(105deg, transparent 0, transparent 85%, rgba($accent-color, .125) 85%),
        linear-gradient(70deg, transparent 0, transparent 10%, rgba(white, .25) 10%),
        linear-gradient(80deg, transparent 0, transparent 90%, rgba(white, .5) 90%),
        linear-gradient(30deg, transparent 0, transparent 9%, rgba($accent-color, .175) 9%),
        linear-gradient(15deg, transparent 0, transparent 67%, rgba(white, .5) 85%),
        linear-gradient(145deg, transparent 0, transparent 55%, rgba(white, .35) 55%),
        linear-gradient(200deg, transparent 0, transparent 80%, rgba(white, .125) 80%),
        linear-gradient(left, $accent-color, $accent-color)
    );
    @include background-size(
        100% rhythm(.5)
    );
    background-position: 0 0, 10% 0, -7% 0, 0 0, -13% 0, 0 0, 0 0, 0 0;
    background-repeat:no-repeat;
    padding-top: rhythm(.5);
}

body {
    font-family: $font-family-default;
    @include container(show);
    /*@include susy-grid-background;*/
    background-color: white;
    color: #444;
}

p,ul,ol,dl {
    @include rhythm(1);
}

ul {
    list-style:square;
}

ol {
    list-style:decimal;
}

ul,ol {
    margin-left: rhythm(1);

    nav & {
        margin:0;
    }
}

em, i {
    font-style:italic;
}

strong, b {
    font-weight:bold;
}

/* Forms */
form {

    fieldset {
        margin:0;
        padding:0;
        border:none;
    }

    textarea {
        width:100%;
    }

    textarea,
    input,
    select {
        font-family: $font-family-alternate;
        color: $default-color;
    }

}

/* Navigation */
nav {
    ul,
    ol {
        list-style:none;
        margin-left:0;
        padding-left:0;
    }
}

/* Links */
a {

    @include transition(background 0.3s linear, color 0.3s linear);

    &:link {
        color: $link-color;
    }

    &:visited {
        color: $link-color-alternate;
    }

    &:hover {
        color:$link-color-alternate;
    }

    &:active {
        color:$link-color-alternate;
    }
}

.add-institution {
   @include adjust-font-size-to(14px);
   @include leader(1, 14px);

    a {
      background: $link-color-alternate;
      display:block;
      float:right;
      margin: 0 5px 5px 0;
      color: #fff;
      padding: 4px 8px;

      &:link,
      &:visited {
        background-color: $link-color-alternate;
        color: #fff;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: $link-color;
        color: #fff;
      }
    }
 }

/* Headings */
h1 {
  @include adjust-font-size-to(36px);
  @include adjust-leading-to(1.25, 36px);
  font-weight:normal;
}

h2 {
  @include adjust-font-size-to(32px);
  @include adjust-leading-to(1, 32px);
  @include leader(1, 32px);
  @include trailer(1, 32px);
  color: $accent-color;
  font-weight:normal;
  & + * {
    margin-top:0;
  }
}

h3 {
  font-weight:normal;
  color: $default-color-light;
  @include adjust-font-size-to(20px);
  @include adjust-leading-to(1, 20px);
}

h4 {
  font-weight:normal;
}

h5 {
  font-style:italic;
}

h6 {
  font-style:italic;
  color: $default-color-lighter;
}

#{headings(1,6)} {

  a {
    text-decoration:none;
  }

}

figure {
  @include rhythm(1);
}

figcaption {
  @include adjust-font-size-to(15px);
  @include adjust-leading-to(1, 15px);
  color: $default-color-lighter;
  & > * {
    margin-top:0;
  }
}

/* Tables */
table {
  width:100%;
  border: 5px solid rgba(0,0,0,0.25);
  border-width: 5px 0;

  th {
      font-weight:normal;
  }

  th,
  td {
    padding: rhythm(.5);
    vertical-align:top;
  }

  thead {
    border-bottom: 2px solid rgba(0,0,0,0.1);
  }

  tr + tr {
    border-top: 1px dotted rgba(0,0,0,0.1);
  }

  tbody {
    th {
      width: 30%;
    }
  }

}

/* Images */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Header */
header[role="banner"] {
  @include clearfix;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  background-color: white;
  background-color: rgba(white, .95);

  nav {
      h1, ul, li {
          margin:0;
      }

      h1,ul {
          text-align:center;
      }

      h1 {
          @include adjust-font-size-to(46px);
          @include adjust-leading-to(1,46px);
      }

      ul {
          @include adjust-font-size-to(16px);
          @include adjust-leading-to(1,16px);

          li {
              display:inline-block;
              &:first-child:after {
                  content: " / ";
                  color: #bbb;
                  color: rgba(black, .25);
                  margin: 0 .25em;
              }
          }
      }

      @include susy-breakpoint(800px, 32) {
        h1 {
          @include span(18 of 30);
          text-align:left;
        }

        ul {
          @include span(last 12 of 30);
          text-align:right;
        }
    }
  }

    @include pad(1);
    @include susy-breakpoint(800px, 32) {
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
        @include pad(2);
    }
    @include susy-breakpoint(1200px, 32) {
        @include pad(4,4);
    }

}

/* Main Content */

div[role="main"] {

    @include pad(1);

    @include susy-breakpoint(800px, 32) {
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
        @include pad(2);
    }

    @include susy-breakpoint(1200px, 32) {
        @include pad(4,4);
    }

    .home &,
    .program & {

        padding:0;
        @include susy-breakpoint(800px, 32) {
            padding:0;
        }
        @include susy-breakpoint(1200px, 32) {
            padding:0;
        }

    }

  article {

    body.program & {

      > header {
        color: #fff;
        display:block;
        background-color:rgba(black,.5);
        padding-top: rhythm(2);
        padding-bottom: rhythm(1);

        a {
            &:link, &:visited {
                color: #ddd;
            }

            &:hover, &:focus, &:active {
                color: #fff;
            }
        }

      }

    > header, section {
            @include pad(1,1);

            @include susy-breakpoint(800px, 32) {
                @include pad(2,2);
            }
            @include susy-breakpoint(1200px, 32) {
                @include pad(4,4);
            }
        }

      section {
        z-index:1000;
        margin-bottom: rhythm(12);
        padding-top: rhythm(1);
        padding-bottom: rhythm(1);
        background-color: #fff;
        background-color: rgba(255,255,255,0.95);
        @include clearfix;

        &:last-child {
            margin-bottom:0;
        }

        header {

            p {
                color: #999;
                @include adjust-font-size-to(16px);
                @include adjust-leading-to(1,16px);
            }

        }
        .content {
            @include clearfix;
            > :first-child {
                margin-top:0;
            }

        }

        @include susy-breakpoint(800px, 32) {
            padding-top: rhythm(2);
            margin-bottom: rhythm(18);

            header {
                @include span(10 of 28);
            }
            .content {
                @include span(last 17 of 28);
            }
        }

        @include susy-breakpoint(1200px, 32) {
            padding-top: rhythm(4);
            margin-bottom: rhythm(22);
            header {
                @include span(8 of 24);
            }
            .content {
                @include span(last 15 of 24);
            }
        }


        figure {
            margin-top:0;

            @include susy-breakpoint(600px, 32) {
                @include span(last 4 of 12);
                margin-left: span(1 of 32 wide);
            }

            &.feature,
            &.normal {

                float:none;
                width: auto;
                margin:0;
            }

            @include susy-breakpoint(600px, 32) {
            &.normal {
                .image {
                    @include gallery(6 of 12);
                }
                figcaption {
                    clear:both;
                }

            }
            }
        }

        h2 {
          margin-top:0;
        }

        > :last-child {
            margin-bottom:0;
        }

      }
    }
  }

  #category-nav {
    background-color: $link-color-alternate;
    a {
      background-color: rgba(0,0,0,0.1);
      color: #fff;
      color: rgba(255,255,255,0.8);
      border:none;
      display:block;
      float:left;

      &:link,
      &:visited {
        background-color: rgba(0,0,0,0.1);
      }

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: rgba(0,0,0,0.2);
      }
    }
  }


    section {

        &.category {
            h1,p {
                margin:0;
                color: white;
            }
            h1 {
                padding-top: rhythm(4, 40px);
                padding-bottom: rhythm(1, 40px);
            }
            p {
                padding-bottom: rhythm(4);
            }

            table {
                display:block;
                margin:0;
                border-width: 0;
            }

            header {
                padding: rhythm(4) 0;
            }
            @each $category in $categories {
                $i: index($categories, $category);
                $overlay-color: desaturate(adjust-hue($accent-color, ($i * 30)), 20%);

                &##{$category} {
                    header{
                        @include background-image(
                            linear-gradient(105deg, transparent 0, transparent 85%, rgba($overlay-color, .25) 85%),
                            linear-gradient(135deg, transparent 0, transparent 10%, rgba(white, .125) 10%),
                            linear-gradient(80deg, transparent 0, transparent 90%, rgba(white, .075) 90%),
                            linear-gradient(30deg, transparent 0, transparent 9%, rgba(white, .125) 9%),
                            linear-gradient(15deg, transparent 0, transparent 67%, rgba($overlay-color, .25) 85%),
                            linear-gradient(145deg, transparent 0, transparent 55%, rgba(white, .05) 55%),
                            linear-gradient(200deg, transparent 0, transparent 80%, rgba(white, .075) 80%),
                            linear-gradient(left, rgba($overlay-color, .85), rgba($overlay-color, .85))
                        );
                    }

                    a, :link {
                        color: $overlay-color;
                    }
                }
            }

            .content {
                background-color: #fff;
                padding-top: rhythm(2);
                padding-bottom: rhythm(2);
            }

            h1,p,.content {
                @include pad(1);
                @include susy-breakpoint(800px, 32) {
                    @include pad(2);
                }
                @include susy-breakpoint(1200px, 32) {
                    @include pad(4,4);
                }

            }
            @each $category in mission, support, people, structure, research, directions, nuts-and-bolts {
            &##{$category} {
                @include background(
                    url('../images/#{$category}-grayscale.jpg') top center no-repeat fixed
                );
                @include background-size(cover);
            }
            }
        }
    }
}

#introduction {
    @include clearfix;
    @include pad(1);
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);

    @include susy-breakpoint(800px, 32) {

        @include pad(2);
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);

        h1 {
            @include adjust-font-size-to(30px);
            @include span(last 10 of 28);
            margin-top: rhythm(1, 30px);
            @include adjust-leading-to(1.25,30px);
            color: lighten($accent-color, 10%);
        }

        .content {
            @include span(17 of 28);
        }

    }

    @include susy-breakpoint(1200px, 32) {
        @include pad(4,4);
        padding-top: rhythm(3);
        padding-bottom: rhythm(3);

        h1 {
            @include span(last 9 of 24);
        }

        .content {
            @include span(14 of 24);
        }

    }

}

#programs {
    @include pad(1,1);
    padding-top: rhythm(1);
    padding-bottom: rhythm(2);
    background-color: #eee;

    h1 {
        text-align:center;
        @include adjust-font-size-to(40px);
        @include padding-leader(1,40px);
        @include trailer(1,40px);
        color: $accent-color;
    }
}

  #program-nav {
      display:block;
      @include clearfix;
      &:after {
          clear:both;
      }
      margin-bottom: rhythm(1, 20px);
      @include adjust-font-size-to(20px);
    a, :link {
        display: inline-block; /* non-flexbox browsers */
        @include display-flex(inline-flex);
        @include align-items(center);
        @include justify-content(center);
        text-align:center;
        height: 150px;
        @include box-shadow(1px 1px 2px rgba(black,.25));
        @include gallery(6 of 12);
        margin-bottom: gutter();

        @include susy-breakpoint(600px, 12) {
            @include gallery(3 of 12);
            margin-bottom: gutter();
            height: 120px;
        }
        @include susy-breakpoint(800px, 12) {
            margin-bottom: gutter();
            height: 150px;
        }

        @include susy-breakpoint(1200px, 12) {
            margin-bottom: gutter();
            height: 200px;
        }

        color:white;
    }
  }

@each $program in $programs {
  body.#{$program} {
    background-image: url('../images/#{$program}.jpg');
    @include background-size(cover);
    background-attachment: fixed;
  }

  a.#{$program} {

      &:link,
      &:visited {
          text-decoration:none;
      @include background(
        linear-gradient(top, rgba($link-color,.75), rgba($link-color, .75)),
        url('../images/#{$program}-small-grayscale.jpg')
        );

      @include background-size(cover);
        }
      &:hover,
      &:focus,
      &:active {
      @include background(
        linear-gradient(top, rgba($link-color,.5), rgba($link-color, .5)),
        url('../images/#{$program}-small-grayscale.jpg')
        );
      @include background-size(cover);

      }

  }
}

#image-credits {
  figure {
    height: 250px;
    text-align:center;
    @include gallery(6 of 12 isolate);
    @include susy-breakpoint(600px, 12) {
        @include gallery(4 of 12 isolate);
    }

    @include susy-breakpoint(800px, 12) {
        @include gallery(3 of 12 isolate);
    }

    img {
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: rhythm(0.5);
    }
  }
}

/* Footer */
footer[role="contentinfo"] {
  clear:both;
  background-color: $accent-color;
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);
    color: white;
    a, :link {
        color:white;
    }

    @include pad(1,1);
    @include susy-breakpoint(800px, 32) {
        @include pad(2,2);
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
    }

    @include susy-breakpoint(1200px, 32) {
        @include pad(4,4);
    }


  h2 {
    margin-top:0;
    color: white;
    color: rgba(white, .5);
  }

  > :last-child {
      margin-bottom:0;
  }

}

#back-to-top {
    @include adjust-font-size-to(14px);
    position:fixed;
    bottom:0;
    right: 20px;
    z-index: 10000;
    display:none;
    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
    border:2px solid white;
    background-color: #fafafa;
    padding: 6px 10px;
    cursor: pointer;
    color:  darken(#0cf,20%);
    &:hover {
      color: #333;
    }
}



/* Directory styles */

.record-info {
  float:left;
  width: 70%;
}

.profile-picture {
  float:right;
  width: 30%;
}

.page-content {
  min-height: 60%;
}

#records {
    a,
    a:link {
        color:white;
    }

    > div {
        width: 125px;
        height: 125px;
        margin: 5px;
        border: 1px solid black;
        text-align: center;
        padding: 5px;
    }
}

#filters {
    list-style:none;
 /*  font-size: 16px; */
    padding-right: 10px;

    ul {
        margin-top:0;
    }

    a {
        cursor:pointer;
    }
}

@include susy-breakpoint(800px, 32) {

    #filters {
        @include span(last 9 of 28);
    }

    #records {
        @include span(17 of 28);
    }

}

@include susy-breakpoint(1200px, 32) {

    #filters {
        @include span(last 9 of 24);
    }

    #records {
        @include span(14 of 24);
    }

}

.is-checked {
  font-weight: bold;
}

/* colors for different types of institutions */

.graduate {
    background-color: #9CAC7E;
}

.undergraduate {
    background-color: #F7913F;
}

.other {
    background-color: #50687F;
}

/* colors for different programs */

.praxis {
    background-color: #50687F;
}

.cultural {
    background-color: #9CAC7E;
}

.mellon {
    background-color: #9B6873;
}

.fellows {
    background-color: #D59CB5;
}

.ma-msc {
    background-color: #F7913F;
}

.phd {
    background-color: #76AC9C;
}

.interactive {
    background-color: #4893B2;
}

.honors-level {
    background-color: #7D7B7E;
}

