@include border-box-sizing;
@include establish-baseline;

html {
  @include background(#fff);
  @include background-size(cover);
}

body {
  font-family: $font-family-default;
  @include container;
  /*@include susy-grid-background;*/
  background-color: #fff;
  color: #555;
}

p,ul,ol,dl {
  @include rhythm(1);
}

ul {
  list-style:square;
}

ol {
  list-style:decimal;
}

ul,ol {
  margin-left: rhythm(1);

  nav & {
    margin:0;
  }
}

em, i {
  font-style:italic;
}

strong, b {
  font-weight:bold;
}

/* Forms */
form {

  fieldset {
    margin:0;
    padding:0;
    border:none;
  }

  textarea {
    width:100%;
 }

  textarea,
  input,
  select {
    font-family: $font-family-alternate;
    color: $default-color;
    @include adjust-font-size-to(12px);
    @include adjust-leading-to(1);
  }

}

/* Navigation */
nav {
  ul,
  ol {
    list-style:none;
    margin-left:0;
    padding-left:0;
  }


}

/* Links */
a {

  text-decoration: none;
  @include transition(background 0.3s linear, color 0.3s linear);

  &:link {
  color: $link-color;
  }

  &:visited {
    color: $link-color-alternate;
  }

  &:hover {
    border-bottom: 1px dotted $link-color-alternate;
    color:$link-color-alternate;
  }

  &:active {
    border-bottom: 1px solid $link-color-alternate;
    color:$link-color-alternate;
  }
}

.add-institution {
   @include leader(1);
   @include adjust-font-size-to(14px);

    a {
      background: $link-color-alternate;
      display:block;
      float:right;
      margin: 0 5px 5px 0;
      color: #fff;
      padding: 4px 8px;

      &:link,
      &:visited {
        background-color: $link-color-alternate;
        color: #fff;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: $link-color;
        color: #fff;
      }
    } 
 }

/* Headings */
h1 {
  @include adjust-font-size-to(40px);
  @include adjust-leading-to(0.875);
  font-weight:normal;
}

h2 {
  @include adjust-font-size-to(24px);
  @include adjust-leading-to(1);
  @include leader(1);
  color: #f60;

  & + * {
    margin-top:0;
  }
}

h3 {
  font-weight:bold;
  color: $default-color-light;
  @include adjust-font-size-to(20px);
}

h4 {
  font-weight:bold;
}

h5 {
  font-style:italic;
}

h6 {
  font-style:italic;
  color: $default-color-lighter;
}

#{headings(1,6)} {

  a {
  text-decoration:none;
  }

}

figure {
  @include rhythm(1);
}

figcaption {
  @include adjust-font-size-to(12px);
  @include adjust-leading-to(1);
  color: $default-color-lighter;
  & > * {
    margin-top:0;
  }
}

/* Tables */
table {
  width:100%;
  @include adjust-font-size-to(14px);
  @include rhythm(2);

  border: 5px solid rgba(0,0,0,0.25);
  border-width: 5px 0;

  th,
  td {
    padding: rhythm(0.25);
    vertical-align:top;
  }

  thead {
    border-bottom: 2px solid rgba(0,0,0,0.1);
  }

  tr + tr {
    border-top: 1px dotted rgba(0,0,0,0.1);
  }

  tbody {
    th {
      width: 20%;
      font-weight:bold;
    }
  }

}

/* Images */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Classes */
.intro {
  @include adjust-font-size-to(18px);
  @include adjust-leading-to(1);
  margin:0;
  padding: gutter(8) 0;
  border: 1px dotted $default-color-lightest;
  border-width: 1px 0;
  color: #f60;
}

.program-category-intro {
  @include adjust-font-size-to(14px);
  font-style:italic;
  color: $default-color-lighter;
}


/* Header */
header[role="banner"] {
  @include clearfix;
  padding:rhythm(3) gutter(8) rhythm(1);
  background-color: #fff;
  border-top: 10px solid rgba(0,0,0,0.1);
  h1 {
    @include adjust-font-size-to(20px);

    .home & {
      @include adjust-font-size-to(30px);
      @include adjust-leading-to(1);
      margin:0;
      @include trailer(0.5);
      display:block;
    }
  }

  #courtesy-nav{
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:right;
    padding-right:gutter(8);
    @include adjust-leading-to(2);
    background:#eee;
    a{
      padding-left:1em;
    }
  }

  #program-nav {
    @include leader(1);
    @include adjust-font-size-to(14px);

    a {
      background: $link-color-alternate;
      display:block;
      float:left;
      margin: 0 5px 5px 0;
      color: #fff;
      padding: 4px 8px;

      &:link,
      &:visited {
        background-color: $link-color-alternate;
        color: #fff;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: $link-color;
        color: #fff;
      }
    }  

    .home & {
      @include adjust-font-size-to(16px);
    }
  }

  a {
    border:none !important;
  }

}

/* Main Content */

div[role="main"] {
  @include span-columns(8);

  article {

    padding-left: gutter(8);
    padding-right: gutter(8);

    body.program & {
      @include span-columns(8);
      @include pre(0);
      @include pad(0,0);

      & > header {
        @include span-columns(8);
        padding: gutter(8);
        color: #fff;
        display:block;
        background:rgba(0,0,0,0.5);

        a {
          color: #ddd;
          text-decoration:underline;
          border:none;
        }
      }

      section {
        z-index:1000;
        @include span-columns(8);
        @include pre(0);
        padding: gutter(8);
        margin: 0 0 rhythm(12);
        background-color: #fff;
        background-color: rgba(255,255,255,0.95);
        @include box-shadow(rgba(0,0,0,0.5) 0 0 20px);

        h2 {
          margin-top:0;
        }
      }
    }
  }

  #category-nav {
    @include span-columns(8);
    background-color: $link-color-alternate;
    @include leader(1);
    @include adjust-leading-to(1.5);
    padding-left: gutter(8);
    padding-right: gutter(8);
    padding-top: 0.5em;
    a {
      background-color: rgba(0,0,0,0.1);
      color: #fff;
      color: rgba(255,255,255,0.8);
      border:none;
      padding: 0 rhythm(0.75);
      display:block; float:left;
      margin-right: 0.25em;
      margin-bottom: 0.5em;
      &:link,
      &:visited {
        background-color: rgba(0,0,0,0.1);
      }

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: rgba(0,0,0,0.2);
      }
    }
  }


  section {

    &#introduction {
      @include span-columns(8);
      @include pre(0);
      padding: rhythm(1) gutter(8);
    }

    &.category {
      @include span-columns(8);
      @include pre(0);
      @include clearfix;
      h1,p {
        padding: gutter(8) gutter(8) 0;
        color: #fff;
        color: rgba(255,255,255,0.8);
        margin:0;
        background: rgba(0,0,0,0.5);
      }

      p {
        padding-bottom: gutter(8);
      }

      table {
        display:block;
        margin:0;
        border-width: 0;
      }

      .table {
          padding: gutter(8) gutter(8);
          background-color: #fff;
          background-color: rgba(255,255,255,0.9);
          border:1px solid rgba(0,0,0,0.2);
          border-width: 10px 0;
        }

      @each $category in mission, support, people, structure, research, directions, nuts-and-bolts {
      &##{$category} {
        @include background(
          url('../images/#{$category}.jpg') 0 0 no-repeat fixed
        );
        @include background-size(cover);
      }
      }
    }
  }
}

@each $program in $programs {
  body.#{$program} {
    background-image: url('../images/#{$program}.jpg');
    @include background-size(cover);
    background-attachment: fixed;
  }
}

#image-credits {
  figure {
    @include span-columns(4, 8);
    height: 250px;
    &:nth-child(2n) {
      @include span-columns(4 omega, 8);
    }

    img {
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: rhythm(0.5);
    }
  }
}

/* Footer */
footer[role="contentinfo"] {
  clear:both;
  padding: gutter(8) gutter(8) rhythm(4);
  background-color: #fff;
  border-bottom: 10px solid rgba(0,0,0,0.1);

  h2 {
    margin-top:0;
  }
}

#back-to-top {
    @include adjust-font-size-to(14px);
    position:fixed;
    bottom:0;
    right: 20px;
    z-index: 10000;
    display:none;
    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
    border:2px solid white;
    background-color: #fafafa;
    padding: 6px 10px;
    cursor: pointer;
    color:  darken(#0cf,20%);
    &:hover {
      color: #333;
    }
}



/* Directory styles */

.student-info {
  float:left;
  width: 70%;
}

.student-contact {
  float:right;
  width: 30%;
}

.page-content {
  min-height: 60%;
}

.institution-info {
  float:left;
  width: 70%;
}

.institution-contact {
  float:right;
  width: 30%;
}

.institution-content{
  min-height: 60%;
}

#list {
    float:right;
    width: 60%;

    a,
    a:link {
        color:white;
    }

    > div {
        width: 125px;
        height: 125px;
        margin: 5px;
        border: 1px solid black;
        text-align: center;
        padding: 5px;
    }
}

#filters {
    float:left;
    width: 40%;
    margin:0;
    list-style:none;
 /*  font-size: 16px; */
    padding-right: 10px;

    ul {
        margin-top:0;
    }
}

.is-checked {
  font-weight: bold;
}

/* colors for different types of institutions */

.graduate {
    background-color: #9CAC7E;
}

.undergraduate {
    background-color: #F7913F;
}

.other {
    background-color: #50687F;
}

/* colors for different programs */

.praxis {
    background-color: #50687F;
}

.cultural {
    background-color: #9CAC7E;
}

.mellon {
    background-color: #9B6873;
}

.fellows {
    background-color: #D59CB5;
}

.ma-msc {
    background-color: #F7913F;
}

.phd {
    background-color: #76AC9C;
}

.interactive {
    background-color: #4893B2;
}

.honors-level {
    background-color: #7D7B7E;
}

