header[role="banner"] {
  padding: rhythm(1.75) column(8) + gutter(8) rhythm(1);

  .home & {
    h1 {
      @include adjust-font-size-to(60px);
    }
  }
}

.intro {
  @include adjust-font-size-to(24px);
  @include adjust-leading-to(1.25);
}

div[role="main"] {
  article {
    @include pad(1,1);

    body.program & {
      & > header {
        @include pad(1,1);
      }
      section {
        @include pad(1,1);
        padding-top: gutter(8);
        padding-bottom: gutter(8);
      }
    }
  }

  section {
    &#introduction {
      padding: rhythm(1) column(8)+gutter(8);
    }

    &.category {

      h1,p {
        @include pad(1,1);
      }

      .table {
        padding: gutter(8) column(8)+gutter(8);
      }
    }
  }
}

#image-credits {
  figure {
    @include span-columns(2, 8);
    height: 250px;

    &:nth-child(2n) {
      @include remove-omega;
      @include span-columns(2, 8);
    }

    &:nth-child(4n) {
      @include span-columns(2 omega, 8);
    }
  }
}

footer[role="contentinfo"] {
  padding: rhythm(2) column(8) + gutter(8) rhythm(4);
}
