@include border-box-sizing;
@include establish-baseline;

// There are two approaches to creating PIE elements
// The default approach is to make the element position: relative.
.pie-element {
  // relative is the default, so passing relative
  // is redundant, but we do it here for clarity.
  @include pie-element(relative);
}

html {
  @include background(#fff);
  @include background-size(cover);
  
}

body {
  font-family: $font-family-default;
  @include container;
  /*@include susy-grid-background;*/
  background-color: #fff;
  color: #555;
}

p,ul,ol,dl {
  @include rhythm(1);
}

ul {
  list-style:square;
}

ol {
  list-style:decimal;
}

ul,ol {
  margin-left: rhythm(1);

  nav & {
    margin:0;
  }
}

/* Forms */
form {

  fieldset {
    margin:0;
    padding:0;
    border:none;
  }

  textarea {
    width:100%;
 }

  textarea,
  input,
  select {
    font-family: $font-family-alternate;
    color: $default-color;
    @include adjust-font-size-to(12px);
    @include adjust-leading-to(1);
  }

}

/* Navigation */
nav {
  ul,
  ol {
    list-style:none;
    margin-left:0;
    padding-left:0;
  }


}

/* Links */
a {

  text-decoration: none;

  &:link {
  color: $link-color;
  }

  &:visited {
    color: $link-color-alternate;
  }

  &:hover {
    border-bottom: 1px dotted $link-color-alternate;
    color:$link-color-alternate;
  }

  &:active {
    border-bottom: 1px solid $link-color-alternate;
    color:$link-color-alternate;
  }
}

/* Headings */
h1 {
  @include adjust-font-size-to(40px);
  @include adjust-leading-to(0.875);
  font-weight:normal;
}

h2 {
  @include adjust-font-size-to(24px);
  @include adjust-leading-to(1);
  @include leader(1);
  color: #f60;

  & + * {
    margin-top:0;
  }
}

h3 {
  font-weight:bold;
  color: $default-color-light;
  @include adjust-font-size-to(20px);
}

h4 {
  font-weight:bold;
}

h5 {
  font-style:italic;
}

h6 {
  font-style:italic;
  color: $default-color-lighter;
}

#{headings(1,6)} {

  a {
  text-decoration:none;
  }

}

figure {
  @include rhythm(1);
}

figcaption {
  @include adjust-font-size-to(12px);
  @include adjust-leading-to(1);
  color: $default-color-lighter;
  & > * {
    margin-top:0;
  }
}

/* Tables */
table {
  width:100%;
  @include adjust-font-size-to(14px);
  @include rhythm(2);

  border: 5px solid rgba(0,0,0,0.25);
  border-width: 5px 0;

  th,
  td {
    padding: rhythm(0.5);
    vertical-align:top;
  }

  thead {
    border-bottom: 2px solid rgba(0,0,0,0.1);
  }

  tr + tr {
    border-top: 1px dotted rgba(0,0,0,0.1);
  }

  tbody {
    th {
      width: 20%;
      font-weight:bold;
    }
  }

}

/* Images */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Classes */
.intro {
  @include adjust-font-size-to(20px);
  @include adjust-leading-to(1);
  margin:0;
  color: #f60;
}

.program-category-intro {
  @include adjust-font-size-to(14px);
  font-style:italic;
  color: $default-color-lighter;
}

/* Header */
header[role="banner"] {
  @include clearfix;
  padding: rhythm(1.75) column(8) + gutter(8) rhythm(1);
  @include background(
    linear-gradient(left, color-stops(rgba(150,150,150, 1) 1px, transparent
    1px)) -1px 0 repeat-x,
    linear-gradient(left, color-stops(rgba(200,200,200, 0.5) 1px, transparent
    1px)) -1px 0 repeat-x,
    linear-gradient(left, color-stops(rgba(200,200,200, 0.25) 1px, transparent
    1px)) -1px 0 repeat-x
  );
  background-size: 96px 16px, 12px 12px, 6px 6px;
  background-color: #fff;
  h1 {
    @include adjust-font-size-to(18px);
    .home & {
      @include adjust-font-size-to(60px);
      @include adjust-leading-to(1);
      margin:0;
    }
  }

  nav {
    margin-top:10px;
    @include adjust-font-size-to(16px);
  }

  a {
    border:none !important;
  }

}

/* Main Content */

div[role="main"] {
  @include span-columns(8);

  article {

    @include pad(1,1);

    body.program & {
      @include span-columns(8);
      @include pre(0);
      @include pad(0,0);

      & > header {
        @include span-columns(8);
        padding-top: gutter(6);
        padding-bottom: gutter(6);
        @include pad(1,1);
        color: #fff;
        display:block;
        @include pie;
        background:rgba(0,0,0,0.5);
        -pie-background: rgba(0,0,0,0.5);
      }

      section {
        @include pie;
        z-index:1000;
        @include span-columns(8);
        @include pre(0);
        @include pad(1,1);
        padding-top: gutter(8);
        padding-bottom: gutter(8);
        margin: 0 0 rhythm(12);
        background-color: #fff;
        background-color: rgba(255,255,255,0.95);
        -pie-background: rgba(255,255,255,0.95);
        @include box-shadow(rgba(0,0,0,0.5) 0 0 20px);
      }
    }
  }

  #category-nav {
    @include span-columns(8);
    background: darken(#0cf,20%);
    text-align:center;
    @include leader(1);
    @include adjust-leading-to(2);
    a {
      background: rgba(255,255,255,0.1);
      color: #fff;
      color: rgba(255,255,255,0.8);
      padding: rhythm(0.25) rhythm(0.75);

      &:link,
      &:visited {
        background: rgba(255,255,255,0.1);
      }

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background: rgba(255,255,255,0.2);
      }
    }
  }

  #program-nav {
    border: 1px dotted $default-color-lightest;
    border-width: 1px 0;
    padding: rhythm(1) 0;
    margin: rhythm(1) 0;

    a {
      border:none;
      & + a:before {
        content: "· ";
        color: rgba(0,0,0,0.5);
      }
    }
  }

  section {
    @include span-columns(6);
    @include pre(1);

    &#introduction {
      @include span-columns(8);
      @include pre(0);
      padding: rhythm(1) column(8) + gutter(8);
    }

    &.category {
      @include span-columns(8);
      @include pre(0);
      @include clearfix;
      h1,p {
        @include pie;
        padding: gutter(8) gutter(8)+column(8) 0;
        color: #fff;
        color: rgba(255,255,255,0.8);
        margin:0;
        background: rgba(0,0,0,0.5);
        -pie-background: rgba(0,0,0,0.5);
      }

      p {
        padding-bottom: gutter(8);
      }

      table {
        display:block;
        margin:0;
        border-width: 0;
      }

      .table {
          padding: gutter(8) column(8)+gutter(8);
          background-color: #fff;
          background-color: rgba(255,255,255,0.9);
          border:1px solid rgba(0,0,0,0.2);
          border-width: 10px 0;
        }

      @each $category in mission, support, people, structure, research, directions, nuts-and-bolts {
      &##{$category} {
        @include background(
          url('../images/#{$category}.jpg') 0 0 no-repeat fixed
        );
        @include background-size(cover);
      }
      }
    }
  }
}

@each $program in uva-praxis-program, chi-initiative, hope-mellon-scholars,
cuny-gcdi, ucldh {
  body.#{$program} {
    background-image: url('../images/#{$program}.jpg');
    @include background-size(cover);
    background-attachment: fixed;
  }
}

#image-credits {
  figure {
    @include span-columns(4, 8);
    height: 250px;
    &:nth-child(2n) {
      @include span-columns(4 omega, 8);
    }

    img {
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: rhythm(0.5);
    }
  }
}

/* Footer */
footer[role="contentinfo"] {
  clear:both;
  padding: rhythm(2) column(8) + gutter(8) rhythm(4);
  background-color: #fff;
  @include background(
    linear-gradient(left, color-stops(rgba(150,150,150, 1) 1px, transparent 1px)),
    linear-gradient(left, color-stops(rgba(200,200,200, 0.5) 1px, transparent 1px)),
    linear-gradient(left, color-stops(rgba(200,200,200, 0.25) 1px, transparent 1px)),
    #fff
  );
  background-size: 96px 16px, 12px 12px, 6px 6px;
  background-position: -1px 100%, -1px 100%, -1px 100%;
  background-repeat:repeat-x;
}

#back-to-top {
    @include adjust-font-size-to(14px);
    position:fixed;
    bottom:0;
    right: 20px;
    z-index: 10000;
    display:none;
    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
    border:2px solid white;
    background-color: #fafafa;
    padding: 6px 10px;
    cursor: pointer;
    color:  darken(#0cf,20%);
    &:hover {
      color: #333;
    }
}

