<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description | strip_html }}">
  {% endif %}
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Style Sheets -->
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/c/styles.css" type="text/css">

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/j/modernizr.min.js"></script>
  <!--[if lt IE 9 ]>
  <script src="/j/respond.min.js"></script>
  <script src="/j/selectivizr.min.js"></script>
  <![endif]-->
  <script src="/j/back-to-top.js"></script>

</head>

<body id="{{ page.title | downcase | replace: " ", "-" }}" class="{{ page.bodyclass }}">
<div id="container">
    <header role="banner">
        <h1><a href="/">{{ site.title }}</a></h1>
        {% include program-nav.html %}
    </header>

    <div id="content" role="main">

    {{ content }}

    </div>

    <footer role="contentinfo">
        <h2>About the Praxis Network</h2>
        <p>This informal network is being developed with support from the <a href="http://scholarslab.org">Scholars' Lab</a> and the <a href="http://mellon.org/">Andrew W. Mellon Foundation</a>, as part of a 2012-2013 <a href="http://uvasci.org">Scholarly Communication Institute</a> (SCI) focus on graduate education. Its goal is to highlight literacies necessary to humanities scholarship in the digital age and to share model programs that expand career opportunities for graduate and undergraduate students. Related SCI work includes a <a href="http://mediacommons.futureofthebook.org/alt-ac/who-we-are">study of alt-ac career preparation</a> as well as a <a href="http://uvasci.org/current-work/graduate-education/">set of discussions</a> convened in partnership with <a href="http://digitalhumanities.org/centernet/">centerNet</a> and the <a href="http://chcinetwork.org/">Consortium of Humanities Centers and Institutes</a>.</p>
        <p>Published by the <a href="http://scholarslab.org">Scholars' Lab</a> under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0 License</a> | <a href="mailto:katina.rogers@virginia.edu">Contact Us</a> | <a href="colophon.html">Colophon</a></p>
  </footer>
</div>

</body>
</html>

