<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Style Sheets -->
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/c/styles.css" type="text/css">

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/j/modernizr.min.js"></script>
  <!--[if lt IE 9 ]>
  <script src="/j/respond.min.js"></script>
  <script src="/j/selectivizr.min.js"></script>
  <![endif]-->

</head>

<body>
<div id="container">
    <header role="banner">
        <h1><a href="/">{{ site.title }}</a></h1>
        <nav role="navigation" id="courtesy-nav">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>

    </header>

    <div id="content" role="main">

    {{ content }}

    </div>

    <footer role="contentinfo">

    </footer>
</div>

</body>
</html>

