<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Style Sheets -->
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/c/styles.css" type="text/css">

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/j/modernizr.min.js"></script>
  <!--[if lt IE 9 ]>
  <script src="/j/respond.min.js"></script>
  <script src="/j/selectivizr.min.js"></script>
  <![endif]-->

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        function filterPath(string) {
          return string
         .replace(/^\//,'')
         .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
         .replace(/\/$/,'');
        }

        var locationPath = filterPath(location.pathname);
        var scrollElem = scrollableElement('html', 'body');

        $('a[href*=#]').each(function() {
            var thisPath = filterPath(this.pathname) || locationPath;
            if (  locationPath == thisPath
            && (location.hostname == this.hostname || !this.hostname)
            && this.hash.replace(/#/,'') ) {
                var $target = $(this.hash), target = this.hash;
                if (target) {
                    var targetOffset = $target.offset().top;
                    $(this).click(function(event) {
                        event.preventDefault();
                        $(scrollElem).animate({scrollTop: targetOffset}, 1000, function() {
                            location.hash = target;
                        });
                    });
                }
            }
        });

        // use the first element that is "scrollable"
        function scrollableElement(els) {
            for (var i = 0, argLength = arguments.length; i <argLength; i++) {
                var el = arguments[i],
                $scrollElement = $(el);
                if ($scrollElement.scrollTop()> 0) {
                    return el;
                } else {
                    $scrollElement.scrollTop(1);
                    var isScrollable = $scrollElement.scrollTop() > 0;
                    $scrollElement.scrollTop(0);
                    if (isScrollable) {
                        return el;
                    }
                }
            }
            return [];
        }
    });
  </script>
</head>

<body id="{{ page.title | downcase | replace: " ", "-" }}" class="{{ page.bodyclass }}">
<div id="container">
    <header role="banner">
        <h1><a href="/">{{ site.title }}</a></h1>
    </header>

    <div id="content" role="main">

    {{ content }}

    </div>

    <footer role="contentinfo">
        <h2>About the Praxis Network</h2>
        <p>This informal network was developed with support from the <a href="http://mellon.org/">Andrew W. Mellon Foundation</a> as part of a 2012-2013 <a href="http://uvasci.org">Scholarly Communication Institute</a> (SCI) project on rethinking graduate education. Its goal is to highlight emerging literacies necessary to humanities scholarship in the digital age, and to offer model program that expand career opportunities for graduate and undergraduate students. Related SCI work includes a <a href="http://mediacommons.futureofthebook.org/alt-ac/who-we-are">study of alt-ac career preparation</a> as well as a <a href="http://uvasci.org/current-work/graduate-education/">series of meetings</a> convened in partnership with <a href="http://digitalhumanities.org/centernet/">centerNet</a> and <a href="http://chcinetwork.org/">CHCI</a>, the Consortium of Humanities Centers and Institutes.</p>
    </footer>
</div>

</body>
</html>

